body {
    background-color: rgb(255, 255, 255);
}

section {
    padding: 2rem 5%;
}

h1 {
    color: rgb(0, 0, 0);
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

p {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 1rem;
}

.container {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
}

.form-control {
    background-color: rgba(252, 252, 252, 0.785);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border-width: 1px;
    border-color: rgb(121, 121, 121);
}

#Registro {
    border-radius: 1rem;
    padding: 2rem;
    max-width: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}